<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Point_Of_Sale.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Point_Of_Sale.Properties.Settings.POSNew12ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Files\POSNew12.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Point_Of_Sale.Properties.Settings.POSNew12ConnectionString1"
            connectionString="Data Source=DESKTOP-5BN9EJ4\SQLEXPRESS;Initial Catalog=POSNew12;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Point_Of_Sale.Properties.Settings>
            <setting name="MaxEntry" serializeAs="String">
                <value>9</value>
            </setting>
        </Point_Of_Sale.Properties.Settings>
    </userSettings>
</configuration>