<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net,Version=1.2.10.0, Culture=neutral, PublicKeyToken=1B44E1D426115821" />
    </configSections>
    <connectionStrings>
        <add name="Point_Of_Sale.Properties.Settings.POSNew12ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Files\POSNew12.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Point_Of_Sale.Properties.Settings.POSNew12ConnectionString1"
            connectionString="Data Source=DESKTOP-5BN9EJ4\SQLEXPRESS;Initial Catalog=POSNew12;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Point_Of_Sale.Properties.Settings.POSNew12ConnectionString2"
            connectionString="Data Source=ROBIN\SQLEXPRESS;Initial Catalog=POSNew12;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>